n8n blog/x.json
{
  "name": "x",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Gaming News Generator",
        "formDescription": "Generate a Danish gaming news article. Results will be emailed to you.",
        "formFields": {
          "values": [
            {
              "fieldName": "gameName",
              "fieldLabel": "Game Name",
              "placeholder": "Enter the name of the game you want to create news about",
              "requiredField": true
            },
            {
              "fieldName": "userEmail",
              "fieldLabel": "Your Email",
              "placeholder": "Enter your email to receive the article",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Generate Article",
          "formSubmittedText": "✅ Article is being generated! Check your email in 1-2 minutes."
        }
      },
      "id": "5e2c3beb-09bb-4fbf-8276-71cae524261a",
      "name": "Game Selection Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -976,
        912
      ],
      "webhookId": "8aabae99-dcb7-461c-b0a1-510c217d823d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "gameName",
              "value": "={{ $json.gameName }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "maxArticleLength",
              "value": 1500,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "seoMinScore",
              "value": 75,
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "maxRevisions",
              "value": 3,
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "currentRevision",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a40f6122-7b0f-4a96-98c8-99d02b3d04df",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        912
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a gaming news researcher for an automated gaming magazine.\n\nToday's date is: {{ $now.toISODate() }}\n7 days ago was: {{ $now.minus({ days: 7 }).toISODate() }}\n\nYour goal: Find the BEST and MOST RECENT news about {{ $json.gameName }} focusing on angle: **{{ $json.angle }}**.\n\nSEARCH STRATEGY (Two-Phase Approach):\n\nPHASE 1 - Try Recent News First:\n1. Search for news from last 7 days: \"{{ $json.gameName }} news {{ $now.toFormat('MMMM yyyy') }}\", \"{{ $json.gameName }} update this week\"\n2. Check publish dates - prefer articles from last 7 days\n3. If you find recent news (within 7 days), use it and set isRecentNews to true\n\nPHASE 2 - Fallback to Most Recent Relevant News:\n1. If NO news found in last 7 days, search for MOST RECENT relevant news: \"{{ $json.gameName }} latest news\", \"{{ $json.gameName }} recent updates\"\n2. Find the MOST RECENT article available (even if older than 7 days)\n3. Prefer news from last 30 days, but accept up to 90 days if that's the most recent\n4. Set isRecentNews to false and include the actual publishDate\n\nCRITICAL - Image Search (MUST be direct image URLs):\n- DO NOT use SerpAPI image URLs (they expire and show Access Denied)\n- DO NOT use page URLs - ONLY use DIRECT image URLs that end in .jpg, .png, .webp, .jpeg\n- Search for: \"{{ $json.gameName }} official website\", \"{{ $json.gameName }} press kit\", \"{{ $json.gameName }} official artwork\"\n- Find images from: Official game websites, Epic Games Store, Steam CDN, official social media, press release sites\n- Image URL MUST end with: .jpg, .png, .webp, .jpeg (NOT .html, .php, or page URLs)\n- Image URL must be from domains like: epicgames.com, steamcdn.com, cdn2.unrealengine.com, official game sites\n- Examples of GOOD URLs: https://cdn2.unrealengine.com/image.jpg, https://steamcdn-a.akamaihd.net/image.png\n- Examples of BAD URLs: https://example.com/article (page URL), https://serpapi.com/image (expires)\n- If you can't find a direct public image URL, leave imageUrl empty (don't use temporary/private URLs)\n\nRules:\n- ALWAYS find SOMETHING - never return NO_RECENT_NEWS_FOUND\n- Prefer official sources (developer/publisher) and reputable gaming/esports sites\n- Verify publish dates accurately\n- Choose the MOST RELEVANT and RECENT news available\n\nReturn structured data:\n- headline (string) - the news headline (always provide one)\n- source (string) - source website name\n- url (string) - direct link to the article\n- publishDate (string, YYYY-MM-DD) - actual verified publish date\n- isRecentNews (boolean) - true if within last 7 days, false if older\n- summary (2–4 sentences) - news summary\n- keyPoints (5–8 bullet points as array) - key details\n- imageUrl (string) - PUBLICLY accessible image URL from official sources only, or empty string if none found",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a gaming news research assistant for an automated gaming magazine. Your job is to ALWAYS find relevant news, even if it's not breaking news.\n\nTWO-PHASE APPROACH:\n\nPHASE 1 - Recent News (Preferred):\n- First, try to find news from the last 7 days\n- Use specific date queries: \"game name news December 2024\", \"game name update this week\"\n- Verify publish dates accurately\n- If found, set isRecentNews to true\n\nPHASE 2 - Fallback to Most Recent (Required):\n- If NO news found in last 7 days, find the MOST RECENT relevant news available\n- Search: \"game name latest news\", \"game name recent updates\"\n- Accept news from last 30 days (preferred), up to 90 days if that's all available\n- Set isRecentNews to false\n- ALWAYS find something - never return empty\n\nImage Requirements (CRITICAL - Direct URLs Only):\n- MUST be DIRECT image URLs ending in .jpg, .png, .webp, .jpeg\n- DO NOT use page URLs (ending in .html, .php, or no extension)\n- DO NOT use SerpAPI image URLs (they expire)\n- MUST be from publicly accessible CDNs: epicgames.com, steamcdn.com, cdn2.unrealengine.com, official game sites\n- Examples: https://cdn2.unrealengine.com/image.jpg (GOOD), https://example.com/article (BAD - page URL)\n- If no direct public image URL found, leave imageUrl empty\n\nPreferred sources: Official game websites, IGN, GameSpot, Polygon, Kotaku, PC Gamer, Eurogamer\n\nReturn:\n- headline: News headline (ALWAYS provide one)\n- source: Website name\n- url: Direct article link\n- publishDate: YYYY-MM-DD format (actual verified date)\n- isRecentNews: true if within 7 days, false if older\n- summary: 2-3 sentence summary\n- keyPoints: Array of key points\n- imageUrl: Publicly accessible image URL from official sources, or empty string"
        }
      },
      "id": "3b4c3f20-9c69-49f3-ba57-be1cbbbbb537",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        912
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "bb4666fc-2a89-4c7f-b903-69d826549c80",
      "name": "OpenAI Model - Research",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -304,
        1136
      ],
      "credentials": {
        "openAiApi": {
          "id": "5HFbmVROuozdyQ0Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7211c40d-bbb2-4066-b590-d1a15e346515",
      "name": "Google Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -176,
        1136
      ],
      "credentials": {
        "serpApi": {
          "id": "72jc39q47o4kOZla",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"headline\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Main news headline\"\n\t\t},\n\t\t\"source\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"News source\"\n\t\t},\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Brief summary of the news\"\n\t\t},\n\t\t\"publishDate\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Publication date YYYY-MM-DD\"\n\t\t},\n\t\t\"isRecentNews\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"True if news is from last 7 days, false if older\"\n\t\t},\n\t\t\"keyPoints\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Key points from the article\"\n\t\t},\n\t\t\"url\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Direct link to the news source\"\n\t\t},\n\t\t\"imageUrl\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"URL to a high-quality image for the article (jpg, png, webp)\"\n\t\t}\n\t}\n}"
      },
      "id": "90a22376-657f-4329-bb5e-97f6926e2233",
      "name": "Research Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -48,
        1136
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The game name is: {{ $json.gameName }}\nAngle: {{ $json.angle }}\nNews headline: {{ $json.headline ?? $json.output.headline }}\nSource: {{ $json.source ?? $json.output.source }}\nURL: {{ $json.url ?? $json.output.url }}\nPublish date: {{ $json.publishDate ?? $json.output.publishDate }}\nIs recent news (within 7 days): {{ $json.isRecentNews ?? $json.output.isRecentNews ?? true }}\nSummary: {{ $json.summary ?? $json.output.summary }}\nKey points: {{ $json.keyPoints ?? $json.output.keyPoints }}\nImage URL: {{ $json.imageUrl ?? $json.output.imageUrl }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional Danish gaming journalist writing for MetaView's automated gaming magazine. Your task is to write SEO-optimized, engaging articles perfectly formatted for web publication.\n\nCRITICAL INSTRUCTION: You MUST use the EXACT game name provided. NEVER replace it with placeholders like ****, [GAME NAME], or similar. Always write the actual game name throughout the article.\n\nHANDLING RECENT VS OLDER NEWS:\n- If isRecentNews is TRUE: Write as breaking/recent news with phrases like \"nyeste\", \"lige annonceret\", \"seneste opdatering\"\n- If isRecentNews is FALSE: Write as a relevant update/article with phrases like \"recent\", \"senest\", \"opdatering\", and mention the publish date naturally (e.g., \"I en artikel fra [date]...\")\n- Always make the article feel current and relevant, even if the news is older\n- Focus on why this news matters NOW to Danish gamers\n\nCONTENT STRUCTURE (CRITICAL FOR BLOG OPTIMIZATION):\n1. Opening paragraph (3-4 sentences): Hook the reader, mention game name, summarize the news\n2. Use H2 headings (##) for main sections - create 3-5 main sections\n3. Use H3 headings (###) for subsections within main sections\n4. Each paragraph should be 3-5 sentences maximum\n5. Use bullet lists (-) for key points, features, or takeaways\n6. Use numbered lists (1. 2. 3.) for step-by-step information or rankings\n7. Add blockquotes (>) for important quotes or callouts\n8. Use **bold** for emphasis on important terms\n9. Use *italic* for game names, titles, or emphasis\n10. Include links [text](url) to source articles or official sites\n\nWORD COUNT & DEPTH:\n- Target: 1000-1500 words for optimal SEO and engagement\n- Minimum: 800 words\n- Maximum: 2000 words\n- Each section should be substantial (150-300 words)\n- Balance depth with readability\n\nSEO OPTIMIZATION:\n- Mention game name in first paragraph\n- Include game name in at least 3-5 headings\n- Use natural keyword variations\n- Include relevant gaming terms\n- Write for humans first, SEO second\n\nMARKDOWN FORMATTING RULES:\n- Use ## for main section headings (H2)\n- Use ### for subsection headings (H3)\n- Use - for bullet lists\n- Use 1. 2. 3. for numbered lists\n- Use > for blockquotes\n- Use **text** for bold\n- Use *text* for italic\n- Use [text](url) for links\n- Use `code` for game names, patch numbers, or technical terms\n- Separate paragraphs with double newlines (\\n\\n)\n- DO NOT include image markdown (![alt](url)) - images are handled separately\n\nCONTENT QUALITY:\n1. Write in fluent, natural Danish\n2. Use the EXACT game name from input - mention it early and naturally throughout\n3. Use an engaging, conversational tone suitable for gamers\n4. Include all key information from research\n5. Add relevant context for Danish readers\n6. Expand on key points with details, examples, and context\n7. Include background information where relevant\n8. Add quotes or community reactions if mentioned\n9. End with a strong conclusion paragraph\n\nTAG OPTIMIZATION:\n- Include the exact game name\n- Include game genre (e.g., \"Battle Royale\", \"RPG\", \"FPS\")\n- Include relevant topics (e.g., \"Opdatering\", \"Esports\", \"Nyheder\")\n- Include platform if relevant (e.g., \"PC\", \"Mobile\", \"Console\")\n- 5-8 tags total\n\nReturn the article with:\n- danishHeadline: Catchy Danish headline (50-70 chars) with the actual game name\n- danishArticle: Well-structured article (1000-1500 words) with proper markdown formatting:\n  * Opening paragraph with game name\n  * 3-5 H2 sections (##)\n  * H3 subsections (###) where appropriate\n  * Bullet or numbered lists for key points\n  * Blockquotes for important quotes\n  * Proper paragraph breaks (\\n\\n)\n  * NO image markdown\n- metaDescription: SEO-optimized description (150-160 characters exactly) with game name and key terms\n- tags: Array of 5-8 relevant tags in Danish including the game name"
        }
      },
      "id": "1c41282c-0c6a-437d-ab1d-97db994bc88b",
      "name": "Danish Article Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        912
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.8
        }
      },
      "id": "6d10d123-cbdc-495e-887b-6d4cad7069eb",
      "name": "OpenAI Model - Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        1136
      ],
      "credentials": {
        "openAiApi": {
          "id": "5HFbmVROuozdyQ0Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"danishHeadline\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Article headline in Danish\"\n\t\t},\n\t\t\"danishArticle\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Full article text in Danish\"\n\t\t},\n\t\t\"metaDescription\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"SEO meta description in Danish\"\n\t\t},\n\t\t\"tags\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Relevant tags in Danish\"\n\t\t}\n\t}\n}"
      },
      "id": "93dc0e3f-2fc6-4a21-b0d3-3ff763035261",
      "name": "Article Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        1136
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the SEO quality of this Danish gaming article:\n\nHeadline: {{ $json.output.danishHeadline ?? $json.danishHeadline }}\nArticle: {{ $json.output.danishArticle ?? $json.danishArticle }}\nMeta Description: {{ $json.output.metaDescription ?? $json.metaDescription }}\nTags: {{ $json.output.tags ?? $json.tags }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an SEO expert specializing in Danish gaming blog content for MetaView. Analyze articles for web publication optimization.\n\nBLOG-SPECIFIC SEO CRITERIA:\n\n1. HEADLINE (Title):\n- Length: 50-70 characters (optimal for Google SERP)\n- Must include exact game name\n- Should be engaging and click-worthy\n- Include relevant keywords naturally\n\n2. META DESCRIPTION:\n- EXACTLY 150-160 characters (critical for SERP display)\n- Must include game name\n- Include key terms and call-to-action\n- Compelling and informative\n\n3. CONTENT STRUCTURE:\n- Word count: 1000-1500 words (optimal for SEO)\n- Proper H2 headings (##) - at least 3-5 sections\n- H3 subsections (###) for better organization\n- Paragraphs: 3-5 sentences max\n- Use lists (- or 1. 2. 3.) for key points\n- Game name mentioned in first paragraph\n- Game name in at least 3 headings\n\n4. KEYWORD OPTIMIZATION:\n- Game name density: 1-2% (natural, not stuffed)\n- Related gaming terms included\n- Long-tail keywords where appropriate\n- Natural language flow\n\n5. READABILITY:\n- Clear paragraph breaks\n- Proper heading hierarchy\n- Lists for scannability\n- Engaging tone\n\n6. TAGS:\n- 5-8 relevant tags\n- Include game name\n- Include genre/platform\n- Include topic keywords\n\nProvide:\n- seoScore: Overall SEO score (0-100) - be strict, aim for 80+\n- strengths: Array of SEO strengths\n- improvements: Array of specific, actionable improvements\n- optimizedHeadline: Improved headline (50-70 chars) if current is not optimal\n- optimizedMetaDescription: Improved meta description (150-160 chars exactly) if current is not optimal"
        }
      },
      "id": "f8ad5a0d-80b6-4738-8c6e-79a0943d16c5",
      "name": "SEO Checker",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        912
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "0976320c-7daf-483f-8072-daca56502cce",
      "name": "OpenAI Model - SEO",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        1136
      ],
      "credentials": {
        "openAiApi": {
          "id": "5HFbmVROuozdyQ0Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"seoScore\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"description\": \"Overall SEO score from 0 to 100\"\n\t\t},\n\t\t\"strengths\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"SEO strengths identified\"\n\t\t},\n\t\t\"improvements\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Suggested SEO improvements\"\n\t\t},\n\t\t\"optimizedHeadline\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Improved headline if needed\"\n\t\t},\n\t\t\"optimizedMetaDescription\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Improved meta description if needed\"\n\t\t}\n\t}\n}"
      },
      "id": "03cba842-412b-431a-b991-fae67511af1b",
      "name": "SEO Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        1136
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Review this Danish gaming article for quality approval:\n\nHeadline: {{ $json.output.danishHeadline ?? $json.danishHeadline }}\nArticle: {{ $json.output.danishArticle ?? $json.danishArticle }}\nSEO Score: {{ $json.output.seoScore ?? $json.seoScore }}\nSEO Improvements: {{ $json.output.improvements ?? $json.improvements }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior editor for MetaView's Danish gaming blog. Review articles for publication readiness.\n\nBLOG PUBLICATION STANDARDS:\n\n1. CONTENT QUALITY:\n- Accurate information\n- Engaging and informative\n- Natural Danish language\n- Proper grammar and spelling\n\n2. STRUCTURE & FORMATTING:\n- Proper markdown formatting (##, ###, -, 1. 2. 3., >)\n- Clear heading hierarchy\n- Well-organized sections\n- Proper paragraph breaks\n- Lists used appropriately\n\n3. SEO REQUIREMENTS:\n- SEO score >= 75 (prefer 80+)\n- Headline: 50-70 characters with game name\n- Meta description: 150-160 characters exactly\n- Word count: 1000-1500 words\n- Game name in first paragraph\n- Game name in multiple headings\n\n4. READABILITY:\n- Clear, engaging tone\n- Proper paragraph length (3-5 sentences)\n- Good flow between sections\n- Scannable with headings and lists\n\n5. COMPLETENESS:\n- All key points covered\n- Proper introduction and conclusion\n- Adequate depth\n- No missing information\n\nDecision rules:\n- Approve if: SEO score >= 75 AND content quality is high AND structure is proper\n- Reject if: SEO score < 75 OR content quality is low OR structure is poor\n\nProvide:\n- approved: Boolean (true/false)\n- qualityScore: Overall quality score (0-100)\n- feedback: Detailed feedback focusing on blog optimization\n- requiredChanges: Array of specific, actionable changes needed if not approved"
        }
      },
      "id": "3bc81085-915c-470f-bcfc-53290f93d859",
      "name": "Quality Control Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1088,
        784
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "5f094263-922e-43b7-868e-6f53654a3fac",
      "name": "OpenAI Model - QC",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1104,
        1008
      ],
      "credentials": {
        "openAiApi": {
          "id": "5HFbmVROuozdyQ0Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"approved\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"Whether the article is approved for publication\"\n\t\t},\n\t\t\"qualityScore\": {\n\t\t\t\"type\": \"number\",\n\t\t\t\"description\": \"Overall quality score from 0 to 100\"\n\t\t},\n\t\t\"feedback\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Detailed feedback on the article\"\n\t\t},\n\t\t\"requiredChanges\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Specific changes needed if not approved\"\n\t\t}\n\t}\n}"
      },
      "id": "5e7677b4-b1a5-4e32-a901-e275c7fd4b3b",
      "name": "QC Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1232,
        1008
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.output?.approved ?? $json.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.currentRevision }}",
              "rightValue": "={{ $json.maxRevisions }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "650597f8-30a5-4a8c-bbb3-11b737434655",
      "name": "Check Quality Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1664,
        784
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Game name: {{ $json.gameName }}\nOriginal Headline: {{ $json.output.danishHeadline ?? $json.danishHeadline }}\nOriginal Article: {{ $json.output.danishArticle ?? $json.danishArticle }}\nFeedback: {{ $json.output.feedback ?? $json.feedback }}\nRequired Changes: {{ $json.output.requiredChanges ?? $json.requiredChanges }}\nSEO Improvements: {{ $json.output.improvements ?? $json.improvements }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional Danish gaming journalist improving articles for MetaView's blog publication.\n\nCRITICAL INSTRUCTION: You MUST use the EXACT game name provided. NEVER replace it with placeholders like ****, [GAME NAME], or similar. Always write the actual game name throughout.\n\nBLOG OPTIMIZATION REQUIREMENTS:\n\n1. STRUCTURE (Maintain/Improve):\n- Opening paragraph (3-4 sentences) with game name\n- 3-5 H2 sections (##) with descriptive headings\n- H3 subsections (###) where appropriate\n- Proper paragraph breaks (\\n\\n)\n- Use lists (- or 1. 2. 3.) for key points\n- Use blockquotes (>) for important quotes\n- Strong conclusion paragraph\n\n2. SEO OPTIMIZATION:\n- Headline: 50-70 characters, includes game name\n- Meta description: EXACTLY 150-160 characters\n- Word count: 1000-1500 words\n- Game name in first paragraph\n- Game name in at least 3 headings\n- Natural keyword integration\n\n3. CONTENT QUALITY:\n- Address all feedback points\n- Implement SEO improvements\n- Maintain core message and facts\n- Improve Danish language quality\n- Enhance engagement and readability\n- Use actual game name throughout\n\n4. MARKDOWN FORMATTING:\n- Use ## for main sections\n- Use ### for subsections\n- Use - for bullet lists\n- Use 1. 2. 3. for numbered lists\n- Use > for blockquotes\n- Use **text** for bold\n- Use *text* for italic\n- Use [text](url) for links\n- NO image markdown (![alt](url))\n\nReturn the improved article with:\n- danishHeadline: Optimized headline (50-70 chars) with game name\n- danishArticle: Well-structured article (1000-1500 words) with proper markdown\n- metaDescription: SEO-optimized (150-160 chars exactly) with game name\n- tags: 5-8 relevant tags including game name\n- changesApplied: Array describing what was changed"
        }
      },
      "id": "06aaf165-d143-405e-bc38-bc2b4755cb0c",
      "name": "Article Fixer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1888,
        656
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "id": "9c192a07-6f96-4c1c-b902-b42f8224c058",
      "name": "OpenAI Model - Fixer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1904,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "5HFbmVROuozdyQ0Q",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"danishHeadline\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Improved headline in Danish\"\n\t\t},\n\t\t\"danishArticle\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Improved article text in Danish\"\n\t\t},\n\t\t\"metaDescription\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Improved meta description in Danish\"\n\t\t},\n\t\t\"tags\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Updated relevant tags\"\n\t\t},\n\t\t\"changesApplied\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"description\": \"Description of changes made\"\n\t\t}\n\t}\n}"
      },
      "id": "67726e40-0a7d-47fa-9e96-5c2d0653d9ae",
      "name": "Fixer Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2032,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "Approved",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "finalHeadline",
              "value": "={{ (() => {\n  const cur = $json.danishHeadline ?? $json.output?.danishHeadline;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.danishHeadline ?? j.output?.danishHeadline;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.danishHeadline ?? j.output?.danishHeadline;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "finalArticle",
              "value": "={{ (() => {\n  const cur = $json.danishArticle ?? $json.output?.danishArticle;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.danishArticle ?? j.output?.danishArticle;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.danishArticle ?? j.output?.danishArticle;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "finalMetaDescription",
              "value": "={{ (() => {\n  const cur = $json.metaDescription ?? $json.output?.metaDescription;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.metaDescription ?? j.output?.metaDescription;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.metaDescription ?? j.output?.metaDescription;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "finalTags",
              "value": "={{ (() => {\n  let t = $json.tags ?? $json.output?.tags;\n\n  if (t == null) {\n    try {\n      const j = $node[\"Article Fixer\"].json;\n      t = j.tags ?? j.output?.tags;\n    } catch (e) {}\n  }\n\n  if (t == null) {\n    try {\n      const j = $node[\"Danish Article Writer\"].json;\n      t = j.tags ?? j.output?.tags;\n    } catch (e) {}\n  }\n\n  if (Array.isArray(t)) return t.map(s => String(s).trim()).filter(Boolean);\n\n  if (typeof t === 'string') return t.split(',').map(s => s.trim()).filter(Boolean);\n\n  return [];\n})() }}",
              "type": "array"
            },
            {
              "id": "id-7",
              "name": "seoScore",
              "value": "={{ (() => {\n  const cur = $json.seoScore ?? $json.output?.seoScore;\n  if (cur !== undefined && cur !== null) return cur;\n  try { return $node[\"Preserve Fields After SEO\"].json.seoScore ?? $node[\"Preserve Fields After SEO\"].json.output?.seoScore ?? null; } catch (e) {}\n  return null;\n})() }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "qualityScore",
              "value": "={{ (() => {\n  const cur = $json.qualityScore ?? $json.output?.qualityScore;\n  if (cur !== undefined && cur !== null) return cur;\n  try { return $node[\"Preserve Fields After QC\"].json.qualityScore ?? $node[\"Preserve Fields After QC\"].json.output?.qualityScore ?? null; } catch (e) {}\n  return null;\n})() }}",
              "type": "number"
            },
            {
              "id": "id-blogTitle",
              "name": "blogTitle",
              "type": "string",
              "value": "={{ $json.finalHeadline ?? $json.danishHeadline ?? $json.output?.danishHeadline ?? '' }}"
            },
            {
              "id": "id-blogSlug",
              "name": "blogSlug",
              "type": "string",
              "value": "={{ (() => {\n  const headline = $json.finalHeadline ?? $json.danishHeadline ?? $json.output?.danishHeadline ?? '';\n  return headline.toLowerCase().replace(/[æ]/g, 'ae').replace(/[ø]/g, 'oe').replace(/[å]/g, 'aa').replace(/[^\\w\\s-]/g, '').replace(/[\\s_-]+/g, '-').replace(/^-+|-+$/g, '').substring(0, 80);\n})() }}"
            },
            {
              "id": "id-blogExcerpt",
              "name": "blogExcerpt",
              "type": "string",
              "value": "={{ (() => {\n  // Prefer meta description, then generate from article\n  const meta = $json.finalMetaDescription ?? $json.metaDescription ?? $json.output?.metaDescription ?? '';\n  if (meta && meta.length >= 100) return meta.substring(0, 200);\n  \n  const article = $json.finalArticle ?? $json.danishArticle ?? $json.output?.danishArticle ?? '';\n  const clean = article.replace(/[#*_\\[\\]()]/g, '').replace(/\\n+/g, ' ').trim();\n  // Target 150-200 characters for excerpt (blog recommendation)\n  if (clean.length <= 200) return clean;\n  return clean.substring(0, 200).replace(/\\s+\\S*$/, '') + '...';\n})() }}"
            },
            {
              "id": "id-blogContent",
              "name": "blogContent",
              "type": "string",
              "value": "={{ $json.finalArticle ?? $json.danishArticle ?? $json.output?.danishArticle ?? '' }}"
            },
            {
              "id": "id-blogTags",
              "name": "blogTags",
              "type": "string",
              "value": "={{ (() => {\n  const t = $json.finalTags ?? $json.tags ?? $json.output?.tags ?? [];\n  if (Array.isArray(t)) return t.join(', ');\n  return String(t);\n})() }}"
            },
            {
              "id": "id-blogMetaDesc",
              "name": "blogMetaDescription",
              "type": "string",
              "value": "={{ (() => {\n  const meta = $json.finalMetaDescription ?? $json.metaDescription ?? $json.output?.metaDescription ?? '';\n  // Ensure exactly 150-160 characters for optimal SEO\n  if (!meta) return '';\n  if (meta.length <= 160) return meta;\n  // Trim to 160 chars, but try to end at word boundary\n  const trimmed = meta.substring(0, 160);\n  const lastSpace = trimmed.lastIndexOf(' ');\n  if (lastSpace > 140) return trimmed.substring(0, lastSpace);\n  return trimmed;\n})() }}"
            },
            {
              "id": "id-blogImage",
              "name": "blogFeaturedImage",
              "type": "string",
              "value": "={{ $json.imageUrl ?? $json.output?.imageUrl ?? $('Research Agent').first().json.output?.imageUrl ?? $('Research Agent').first().json.imageUrl ?? '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "544b0a6a-de5c-41d0-a5f4-0fe75c2a36c8",
      "name": "Final Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        784
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Game Selection Form').first().json.userEmail }}",
        "subject": "=✅ Din artikel er klar: {{ $json.blogTitle || $json.finalHeadline || 'Artikel' }}",
        "emailType": "html",
        "text": "={{ (() => {\n  const data = $json || {};\n  const title = data.blogTitle || data.finalHeadline || '';\n  const slug = data.blogSlug || data.slug || '';\n  const excerpt = data.blogExcerpt || data.excerpt || '';\n  const content = data.blogContent || data.finalArticle || data.danishArticle || '';\n  const tags = Array.isArray(data.blogTags) ? data.blogTags.join(', ') : (data.blogTags || (Array.isArray(data.finalTags) ? data.finalTags.join(', ') : (data.finalTags || '')));\n  const meta = data.blogMetaDescription || data.finalMetaDescription || data.metaDescription || '';\n  const image = data.blogFeaturedImage || data.featured_image || data.imageUrl || '';\n  const seo = data.seoScore || 'N/A';\n  const quality = data.qualityScore || 'N/A';\n  \n  return '✅ ARTIKEL GENERERET\\n\\n' +\n    'SEO Score: ' + seo + ' | Quality Score: ' + quality + '\\n\\n' +\n    '📝 TITLE\\n' + title + '\\n\\n' +\n    '🔗 SLUG\\n' + slug + '\\n\\n' +\n    '📋 EXCERPT\\n' + excerpt + '\\n\\n' +\n    '🏷️ TAGS\\n' + tags + '\\n\\n' +\n    '🔍 META DESCRIPTION\\n' + meta + '\\n\\n' +\n    '🖼️ FEATURED IMAGE URL\\n' + (image || 'Ingen billede fundet') + '\\n\\n' +\n    '📄 CONTENT (MARKDOWN)\\n' + content + '\\n\\n' +\n    'Kopier hver sektion og indsæt i blog admin på: https://mymetaview.com/app/admin/blog/new';\n})() }}",
        "attachments": "={{ (() => {\n  const data = $json || {};\n  const title = data.blogTitle || data.finalHeadline || '';\n  const slug = data.blogSlug || data.slug || '';\n  const excerpt = data.blogExcerpt || data.excerpt || '';\n  const content = data.blogContent || data.finalArticle || data.danishArticle || '';\n  const tags = Array.isArray(data.blogTags) ? data.blogTags.join(', ') : (data.blogTags || (Array.isArray(data.finalTags) ? data.finalTags.join(', ') : (data.finalTags || '')));\n  const meta = data.blogMetaDescription || data.finalMetaDescription || data.metaDescription || '';\n  const image = data.blogFeaturedImage || data.featured_image || data.imageUrl || '';\n  \n  // Create JSON file for direct import\n  const jsonData = {\n    title: title,\n    slug: slug,\n    excerpt: excerpt,\n    content: content,\n    featured_image: image || '',\n    featured_image_alt: '',\n    og_image: image || '',\n    author_name: '',\n    author_bio: '',\n    author_avatar: '',\n    category_id: undefined,\n    tags: tags,\n    status: 'draft',\n    is_featured: false,\n    is_pinned: false,\n    meta_title: title,\n    meta_description: meta,\n    meta_keywords: tags.split(', ').slice(0, 5).join(', '),\n    canonical_url: '',\n    no_index: false,\n    schema_type: 'Article',\n    twitter_title: title.substring(0, 70),\n    twitter_description: meta,\n    twitter_image: image || ''\n  };\n  \n  const jsonString = JSON.stringify(jsonData, null, 2);\n  \n  return [{\n    name: 'blog-post-import.json',\n    data: Buffer.from(jsonString).toString('base64'),\n    type: 'application/json'\n  }];\n})() }}",
        "html": "={{ (() => {\n  const data = $json || {};\n  const title = (data.blogTitle || data.finalHeadline || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const slug = (data.blogSlug || data.slug || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const excerpt = (data.blogExcerpt || data.excerpt || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const content = (data.blogContent || data.finalArticle || data.danishArticle || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const tags = (Array.isArray(data.blogTags) ? data.blogTags.join(', ') : (data.blogTags || (Array.isArray(data.finalTags) ? data.finalTags.join(', ') : (data.finalTags || '')))).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const meta = (data.blogMetaDescription || data.finalMetaDescription || data.metaDescription || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const image = (data.blogFeaturedImage || data.featured_image || data.imageUrl || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const seo = data.seoScore || 'N/A';\n  const quality = data.qualityScore || 'N/A';\n  \n  return '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head><body style=\"font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px;\">' +\n    '<div style=\"max-width: 700px; margin: 0 auto; background: white; border-radius: 10px; padding: 30px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);\">' +\n    '<h1 style=\"color: #f97316; margin-bottom: 5px;\">✅ Artikel Genereret!</h1>' +\n    '<p style=\"color: #666; margin-bottom: 20px;\">SEO Score: <strong>' + seo + '</strong> | Quality Score: <strong>' + quality + '</strong></p>' +\n    '<div style=\"background: #fff8f3; border-left: 4px solid #f97316; padding: 15px; margin-bottom: 20px;\">' +\n    '<p style=\"margin: 0; font-size: 0.9em; font-weight: bold; margin-bottom: 8px;\">📎 JSON fil vedhæftet!</p>' +\n    '<p style=\"margin: 0; font-size: 0.9em;\">Download <strong>blog-post-import.json</strong> fra email vedhæftninger og upload den direkte i blog admin for automatisk import. Alternativt kan du kopiere hver sektion nedenfor manuelt.</p>' +\n    '</div>' +\n    '<h3 style=\"color: #333; border-bottom: 2px solid #f97316; padding-bottom: 5px;\">📝 Title</h3>' +\n    '<div style=\"background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 20px; font-size: 1.1em;\">' + title + '</div>' +\n    '<h3 style=\"color: #333; border-bottom: 2px solid #f97316; padding-bottom: 5px;\">🔗 Slug</h3>' +\n    '<div style=\"background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 20px; font-family: monospace;\">' + slug + '</div>' +\n    '<h3 style=\"color: #333; border-bottom: 2px solid #f97316; padding-bottom: 5px;\">📋 Excerpt</h3>' +\n    '<div style=\"background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 20px;\">' + excerpt + '</div>' +\n    '<h3 style=\"color: #333; border-bottom: 2px solid #f97316; padding-bottom: 5px;\">🏷️ Tags</h3>' +\n    '<div style=\"background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 20px;\">' + tags + '</div>' +\n    '<h3 style=\"color: #333; border-bottom: 2px solid #f97316; padding-bottom: 5px;\">🔍 Meta Description</h3>' +\n    '<div style=\"background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 20px;\">' + meta + '</div>' +\n    '<h3 style=\"color: #333; border-bottom: 2px solid #f97316; padding-bottom: 5px;\">🖼️ Featured Image URL</h3>' +\n    '<div style=\"background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 10px; word-break: break-all;\">' + (image || 'Ingen billede fundet') + '</div>' +\n    (image ? '<img src=\"' + image + '\" alt=\"Preview\" style=\"max-width: 100%; border-radius: 5px; margin-bottom: 20px;\">' : '') +\n    '<h3 style=\"color: #333; border-bottom: 2px solid #f97316; padding-bottom: 5px;\">📄 Content (Markdown)</h3>' +\n    '<div style=\"background: #f9f9f9; padding: 15px; border-radius: 5px; margin-bottom: 20px; white-space: pre-wrap; font-family: monospace; font-size: 0.9em; line-height: 1.6;\">' + content + '</div>' +\n    '<div style=\"background: #e8f5e9; border: 2px solid #4caf50; border-radius: 8px; padding: 20px; margin-top: 30px;\">' +\n    '<h3 style=\"color: #2e7d32; margin-bottom: 10px;\">📎 JSON Import Fil</h3>' +\n    '<p style=\"color: #555; margin-bottom: 15px; font-size: 0.9em;\">Kopier JSON-koden nedenfor, gem den som <strong>blog-post-import.json</strong>, og upload den i blog admin for automatisk import.</p>' +\n    '<div style=\"background: #1e1e1e; color: #d4d4d4; padding: 15px; border-radius: 5px; overflow-x: auto; font-family: monospace; font-size: 0.85em; line-height: 1.5; max-height: 400px; overflow-y: auto;\">' +\n    (() => {\n      const jsonData = {\n        title: data.blogTitle || data.finalHeadline || '',\n        slug: data.blogSlug || data.slug || '',\n        excerpt: data.blogExcerpt || data.excerpt || '',\n        content: data.blogContent || data.finalArticle || data.danishArticle || '',\n        featured_image: (data.blogFeaturedImage || data.featured_image || data.imageUrl || ''),\n        featured_image_alt: '',\n        og_image: (data.blogFeaturedImage || data.featured_image || data.imageUrl || ''),\n        author_name: '',\n        author_bio: '',\n        author_avatar: '',\n        tags: (Array.isArray(data.blogTags) ? data.blogTags.join(', ') : (data.blogTags || (Array.isArray(data.finalTags) ? data.finalTags.join(', ') : (data.finalTags || '')))),\n        status: 'draft',\n        is_featured: false,\n        is_pinned: false,\n        meta_title: (data.blogTitle || data.finalHeadline || ''),\n        meta_description: (data.blogMetaDescription || data.finalMetaDescription || data.metaDescription || ''),\n        meta_keywords: (Array.isArray(data.blogTags) ? data.blogTags.join(', ') : (data.blogTags || (Array.isArray(data.finalTags) ? data.finalTags.join(', ') : (data.finalTags || '')))).split(', ').slice(0, 5).join(', '),\n        canonical_url: '',\n        no_index: false,\n        schema_type: 'Article',\n        twitter_title: (data.blogTitle || data.finalHeadline || '').substring(0, 70),\n        twitter_description: (data.blogMetaDescription || data.finalMetaDescription || data.metaDescription || ''),\n        twitter_image: (data.blogFeaturedImage || data.featured_image || data.imageUrl || '')\n      };\n      return JSON.stringify(jsonData, null, 2).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n    })() +\n    '</div>' +\n    '<p style=\"color: #666; margin-top: 10px; font-size: 0.85em;\">💡 Tip: Vælg hele JSON-koden ovenfor (Ctrl+A eller Cmd+A), kopier den (Ctrl+C eller Cmd+C), åbn en teksteditor, indsæt den, og gem filen som <strong>blog-post-import.json</strong></p>' +\n    '</div>' +\n    '<p style=\"color: #888; font-size: 0.85em; text-align: center; margin-top: 30px;\">Generated by Gaming News Generator</p>' +\n    '</div></body></html>';\n})() }}",
        "options": {}
      },
      "id": "email-output",
      "name": "Send Article Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2928,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "currentRevision",
              "value": "={{ ($json.currentRevision ?? 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "danishHeadline",
              "value": "={{ $json.output?.danishHeadline ?? $json.danishHeadline }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "danishArticle",
              "value": "={{ $json.output?.danishArticle ?? $json.danishArticle }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "metaDescription",
              "value": "={{ $json.output?.metaDescription ?? $json.metaDescription }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "tags",
              "value": "={{ (() => { const t = $json.tags ?? $json.output?.tags; if (Array.isArray(t)) return t; if (typeof t === 'string') return t.split(',').map(s => s.trim()).filter(Boolean); return []; })() }}",
              "type": "array"
            },
            {
              "id": "id-6",
              "name": "maxRevisions",
              "value": "={{ $('Workflow Configuration').first().json.maxRevisions }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "gameName",
              "value": "={{ $json.gameName ?? $('Workflow Configuration').first().json.gameName }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "maxArticleLength",
              "value": "={{ $json.maxArticleLength ?? $('Workflow Configuration').first().json.maxArticleLength }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8a0f19c2-491b-42cb-a467-0a310b0ee69f",
      "name": "Increment Revision Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.currentRevision }}",
              "rightValue": "={{ $json.maxRevisions }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2665aa1a-a1e7-4307-a89a-530b872721a2",
      "name": "Check Revision Limit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2464,
        656
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "seoScore",
              "value": "={{ $json.seoScore ?? $json.output?.seoScore }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "improvements",
              "value": "={{ $json.improvements ?? $json.output?.improvements }}",
              "type": "array"
            },
            {
              "id": "id-3",
              "name": "strengths",
              "value": "={{ $json.strengths ?? $json.output?.strengths }}",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "danishHeadline",
              "value": "={{ (() => {\n  const cur = $json.danishHeadline ?? $json.output?.danishHeadline;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.danishHeadline ?? j.output?.danishHeadline;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.danishHeadline ?? j.output?.danishHeadline;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "danishArticle",
              "value": "={{ (() => {\n  const cur = $json.danishArticle ?? $json.output?.danishArticle;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.danishArticle ?? j.output?.danishArticle;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.danishArticle ?? j.output?.danishArticle;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "metaDescription",
              "value": "={{ (() => {\n  const cur = $json.metaDescription ?? $json.output?.metaDescription;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.metaDescription ?? j.output?.metaDescription;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.metaDescription ?? j.output?.metaDescription;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "tags",
              "value": "={{ (() => {\n  let t = $json.tags ?? $json.output?.tags;\n\n  if (t == null) {\n    try {\n      const j = $node[\"Article Fixer\"].json;\n      t = j.tags ?? j.output?.tags;\n    } catch (e) {}\n  }\n\n  if (t == null) {\n    try {\n      const j = $node[\"Danish Article Writer\"].json;\n      t = j.tags ?? j.output?.tags;\n    } catch (e) {}\n  }\n\n  if (Array.isArray(t)) return t.map(s => String(s).trim()).filter(Boolean);\n\n  if (typeof t === 'string') return t.split(',').map(s => s.trim()).filter(Boolean);\n\n  return [];\n})() }}",
              "type": "array"
            },
            {
              "id": "id-8",
              "name": "currentRevision",
              "value": "={{ $json.currentRevision ?? 0 }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "maxRevisions",
              "value": "={{ $json.maxRevisions }}",
              "type": "number"
            },
            {
              "id": "id-10",
              "name": "gameName",
              "value": "={{ $json.gameName }}",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "maxArticleLength",
              "value": "={{ $json.maxArticleLength }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "efad07bd-d9b0-489e-a16c-79399e8df56e",
      "name": "Preserve Fields After SEO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "approved",
              "value": "={{ $json.approved ?? $json.output?.approved }}",
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "qualityScore",
              "value": "={{ $json.qualityScore ?? $json.output?.qualityScore }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "feedback",
              "value": "={{ $json.feedback ?? $json.output?.feedback }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "requiredChanges",
              "value": "={{ $json.requiredChanges ?? $json.output?.requiredChanges }}",
              "type": "array"
            },
            {
              "id": "id-5",
              "name": "seoScore",
              "value": "={{ $json.seoScore }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "improvements",
              "value": "={{ $json.improvements }}",
              "type": "array"
            },
            {
              "id": "id-7",
              "name": "danishHeadline",
              "value": "={{ (() => {\n  const cur = $json.danishHeadline ?? $json.output?.danishHeadline;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.danishHeadline ?? j.output?.danishHeadline;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.danishHeadline ?? j.output?.danishHeadline;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "danishArticle",
              "value": "={{ (() => {\n  const cur = $json.danishArticle ?? $json.output?.danishArticle;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.danishArticle ?? j.output?.danishArticle;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.danishArticle ?? j.output?.danishArticle;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "metaDescription",
              "value": "={{ (() => {\n  const cur = $json.metaDescription ?? $json.output?.metaDescription;\n  if (cur) return cur;\n\n  try {\n    const j = $node[\"Article Fixer\"].json;\n    const v = j.metaDescription ?? j.output?.metaDescription;\n    if (v) return v;\n  } catch (e) {}\n\n  try {\n    const j = $node[\"Danish Article Writer\"].json;\n    const v = j.metaDescription ?? j.output?.metaDescription;\n    if (v) return v;\n  } catch (e) {}\n\n  return \"\";\n})() }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "tags",
              "value": "={{ (() => {\n  let t = $json.tags ?? $json.output?.tags;\n\n  if (t == null) {\n    try {\n      const j = $node[\"Article Fixer\"].json;\n      t = j.tags ?? j.output?.tags;\n    } catch (e) {}\n  }\n\n  if (t == null) {\n    try {\n      const j = $node[\"Danish Article Writer\"].json;\n      t = j.tags ?? j.output?.tags;\n    } catch (e) {}\n  }\n\n  if (Array.isArray(t)) return t.map(s => String(s).trim()).filter(Boolean);\n\n  if (typeof t === 'string') return t.split(',').map(s => s.trim()).filter(Boolean);\n\n  return [];\n})() }}",
              "type": "array"
            },
            {
              "id": "id-11",
              "name": "currentRevision",
              "value": "={{ $json.currentRevision ?? 0 }}",
              "type": "number"
            },
            {
              "id": "id-12",
              "name": "maxRevisions",
              "value": "={{ $json.maxRevisions }}",
              "type": "number"
            },
            {
              "id": "id-13",
              "name": "gameName",
              "value": "={{ $json.gameName }}",
              "type": "string"
            },
            {
              "id": "id-14",
              "name": "maxArticleLength",
              "value": "={{ $json.maxArticleLength }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b4e9500a-5249-459f-a65b-394dfea4da71",
      "name": "Preserve Fields After QC",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        784
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "angle",
              "type": "string",
              "value": "={{ (() => { const angles = ['patch notes / opdatering','esport/turnering','event/collab','community/creative','rygter/læk','meta/balancing']; return angles[Math.floor(Math.random()*angles.length)]; })() }}"
            },
            {
              "id": "id-2",
              "name": "runId",
              "type": "string",
              "value": "={{ String(Date.now()) + '-' + Math.floor(Math.random()*1e6) }}"
            },
            {
              "id": "id-3",
              "name": "today",
              "type": "string",
              "value": "={{ $now.toISODate() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "54f8861b-3067-451c-a99f-522a94b91fb9",
      "name": "Pick Random Angle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        912
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Game Selection Form": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Pick Random Angle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Research": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Danish Article Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Writer": {
      "ai_languageModel": [
        [
          {
            "node": "Danish Article Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Article Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Danish Article Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - SEO": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Checker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SEO Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "SEO Checker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - QC": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Control Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QC Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Quality Control Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check Quality Approval": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Article Fixer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Fixer": {
      "ai_languageModel": [
        [
          {
            "node": "Article Fixer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fixer Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Article Fixer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Article Fixer": {
      "main": [
        [
          {
            "node": "Increment Revision Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Danish Article Writer": {
      "main": [
        [
          {
            "node": "SEO Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Revision Counter": {
      "main": [
        [
          {
            "node": "Check Revision Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Revision Limit": {
      "main": [
        [
          {
            "node": "Final Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEO Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Checker": {
      "main": [
        [
          {
            "node": "Preserve Fields After SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Fields After SEO": {
      "main": [
        [
          {
            "node": "Quality Control Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Control Agent": {
      "main": [
        [
          {
            "node": "Preserve Fields After QC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Fields After QC": {
      "main": [
        [
          {
            "node": "Check Quality Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random Angle": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Result": {
      "main": [
        [
          {
            "node": "Send Article Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ff4cd900-da91-49fb-b7bb-ff70cb9d4392",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec980270f9962c83a2c6200d0a8ddfc6adffb52117c90083529e0094cbf89053"
  },
  "id": "IFmUP8L9OKWpMih6",
  "tags": []
}